<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" *ngIf="phones.length">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Date Naissance</th>
                        <th>IMEI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let phone of phones">
                            <td>{{phone.user.nom}}</td>
                            <td>{{phone.user.prenom}}</td>
                            <td>{{phone.user.email}}</td>
                            <td>{{phone.user.telephone}}</td>
                            <td>{{phone.user.dateNaissance}}</td>
                            <td>{{phone.imei}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div style="width:100%;">
                    <canvas id="myChart" width="700" height="250" #mychart></canvas>
                 </div>
            </div>
            
        </div>
    </div>
</div>